<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ site.title }} &middot; {{ page.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet"> 

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
