<nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
<div class="container">
	<div class="navbar-brand">
		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true" data-target="menu-list">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div class="navbar-menu" id="menu-list">
		<div class="navbar-start">
			<a class="navbar-item" href="{{ site.baseurl }}/">Home</a>
			<a class="navbar-item" href="{{ site.baseurl }}/blog/">Blog</a>
		</div>
	</div>
</div>
</nav>